<ul>
    <li *ngFor="let task2 of task2">
   <div class='list'>
     <div class="list1">
       <h3>{{task2?.name}}</h3>
       <div class="header2">
           <span class="span1">{{task2?.a}}</span>
           <span class="span2">分</span>
           <span class="span3">{{task2?.b}}</span>
           <span class="span4">分</span>
       </div>
     </div>
     <div class="list2">
         <span><img src="../../../assets/images/5.png">{{task2?.task}}</span>
         <div class="right">
           <img src="../../../assets/images/36.png">
         </div>
     </div>
   </div>
   </li>
   </ul>
