<div class="a">
<div class="left">
  <img class="img1" src="http://www.edu2act.cn/static/img/m.png"/>
  <div class="s1">3-杨茜</div>
  <div class="s2">
    <div class="s3">粉丝</div>
    <div class="s3">关注</div>
  </div>
  <div class="s4"></div>
  <ul>
      <li><a [routerLink]="['./task/task1']"><img src="../../../assets/images/4.png"/><span class="p1">任务</span><img class="p2"src="../assets/images/9.png"/></a></li>
      <li><a [routerLink]="['./tongbuke']"><img src="../../../assets/images/5.png"/><span class="p1">同步课</span><img class="p2"src="../assets/images/9.png"/></a></li>
      <li><a [routerLink]="['./course1']"><img src="../assets/images/6.png"/><span class="p1">课程</span><img class="p2"src="../assets/images/9.png"/></a></li>
      <li><a [routerLink]="['./speak']"><img src="../assets/images/7.png"/><span class="p1">且说</span><img class="p2"src="../assets/images/9.png"/></a></li>
      <li><a [routerLink]="['./tongzhi']"><img src="../assets/images/8.png"/><span class="p1">通知</span><img class="p2"src="../assets/images/9.png"/></a></li>
  </ul>
</div>
<div class="right">
  <router-outlet></router-outlet>    <!--在左面点击，在右面显示-->
</div>
</div>






<!--
<p>
  home works!
</p>
<div class="left">
  <ul>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
    <li><a [routerLink]=""></a></li>
  </ul>
</div>
<div class="right">
  <router-outlet></router-outlet>    在左面点击，在右面显示
</div>
-->