.container{width:1340px;height:800px;}
.header{width:1340px;height:134px;border-bottom:1px #e1e4e8 solid;  background:#fafbfc;position:relative;}
.list li{float:left;}
.h1{width:1200px;height:30px;}

.header1{height:23px;width:500px; }
.h1{padding:30px 70px;}
.header1 span{float:left;font-size:21px;}
.header1 img{float:left;}
.header2{float:right;font-size:32px;}    /*em会叠加 父元素和子元素字体大小叠加*/
.span1{color:#ff6e3d;}
.span2{vertical-align: 16px;/*相对于该元素所在行的基线的垂直对齐*/color:#ff6e3d;font-size:16px;}
.span3{color:#03b8cf;font-size:32px;}
.span4{vertical-align: 16px;color:#03b8cf;font-size:16px;}
.span5{color:green;font-size:32px;}
.span6{vertical-align: 16px;color:green;font-size:16px;}
.list{width:740px;height:40px;position:absolute;bottom:1px;padding-left:80px;}
.list li{width:159px;height:40px; text-align:center;}
.list li:hover{background:white;}
.r1{color:#666;border-radius:20px;margin-left:6px;background-color: #eee;padding:2px 5px;/*让灰色的区域变宽和高*/}
.content-top{height:40px;margin:20px;margin-left:80px;/*margin-left不叠加*/}
.content-top li{width:106px;text-align:center;/*必须设在li上，设在a上没有用*/height:40px;background-color:#ff6e3d; border-top-right-radius:4px;border-bottom-right-radius:4px;border-top-left-radius:4px;border-bottom-left-radius:4px;/*...*/}
.content-top li a{color:#fff;line-height:40px;font-size:18px;}















/*.active{color:red;font-size:50px;}  添加属性3*/
