
nav{
    height:50px;
    background-color:whitesmoke;
    width:1340px;
}
.nav{
    width:1200px;
    margin:0 auto;
    line-height:50px;
}
.nav li{
    float:left;
    margin:0 30px;
    cursor:pointer;/* 手型*/
}
.xueli{float:left;margin-top:5px;margin-left:50px;margin-right:300px;}
#search{border-radius:10%;height:33px;width:200px;float:left;margin-top:5px;}
.p1{float:left;margin-top:5px;}
.p2{float:left;margin-left:30px;}
a:hover{background-color:#ccc;}
