
<nav>
<img class="xueli"src="http://www.edu2act.cn/static/img/logo.png"/>
<ul class="nav">
  <li><a [routerLink]="['/home/task/task1']">首页</a></li>    
  <li><a [routerLink]="['/tongbu']">同步课</a></li>
  <li><a [routerLink]="['/course']">课程</a></li>
  <li><a [routerLink]="['/shequ']" [queryParams]="{id:800,name:'yx'}">社区</a></li>  
</ul>
<input type="text" value="搜索课程、问答" id="search"/>
<a href="#"><img class="p1" src="../assets/images/1.png"/></a>
<a href="#"><img class="p2" src="../assets/images/2.png"/></a>
<a href="#"><img class="p2" src="../assets/images/3.png"/></a>

</nav>
