<div class="right">
    <span class="a">学霸，学渣，偶想说~</span>
    <div class="b">
      <div class="d">
        <ul>
        <li *ngFor="let item of arr;let i=index">
          <img src='../../../assets/images/{{item}}.png'/>
        </li>
        </ul>
      </div>
      <textarea class="c"></textarea>
    </div>
    <div class="e">
        <a href=""><span class="e1">话题</span></a>
        <span class="e3">|</span>
        <a href=""><span class="e2">发长文</span></a>
        <button class="e4" type="submit">发布</button>
    </div>
</div>

