.right{ 
    float:left;  
    width:960px;height:450px;
    margin-left:32px;
    border:2px #ccc solid;
    box-shadow: 2px 2px 20px wheat;
    border-radius: 2px;
   }
.a{font-size:20px;margin-left:40px;margin-top:30px;display:block;}
.b{display:block;width:878px;height:177px;margin-left:40px;margin-right:40px;margin-top:10px;}
.d{width:878px;height:37px;float:left;border-top:1px solid #ccc;border-left:1px solid #ccc;border-right:1px solid #ccc;}
.c{display:block;float:left;width:878px;height:140px;border-color:#ccc;}
.d li{float:left;display:block;margin:8px;width:28px;height:28px;}
li:hover{
    border:1px black solid;
    cursor:pointer;
}
.e{width:878px;height:25px;margin-left:40px;margin-top:10px;}
[class ^='e1']:before{
    content:url(../../../assets/images/22.png)
}
[class ^='e2']:before{
    content:url(../../../assets/images/23.png)
}
.e3{margin-left:15px;margin-right:15px;color:#ccc;}
.e4{float:right;background-color:#ff5b23;color:white;width:54px;height:29px;cursor:pointer;border-radius:4px;background-color:#ff5b23;}

